@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.mainSection {
  background-color: rgb(27, 27, 27);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.informationContainer {
  width: 500px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.informationOutput {
  font-family: 'Raleway', sans-serif;
  color: #fff;
}

.passwordOutputContainer {
  background-color: rgb(15, 15, 15);
  margin: 0px 0px 25px 0px;
  width: 500px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.passwordOutput {
  font-family: 'Raleway', sans-serif;
  color: #fff;
  font-size: 30px;
}

#passwordLengthForm {
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.passwordLengthInputLabel {
  color: #fff;
  margin: 0px 0px 0px 0px;
}

#passwordLengthInput {
  margin: 0px 10px 0px 10px;
  width: 50px;
}

#passwordLengthInput:focus {
  outline: none;
}

.passwordLengthInputInstructions {
  color: #fff;
  font-size: 12px;
  margin: 0px 0px 0px 0px;
}

.passwordLengthInputContainer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.generatePasswordButton {
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
  width: 300px;
  height: 50px;
  border-radius: 5px;
  border: none;
  transition: 0.1s ease-in;
}

.generatePasswordButton:focus {
  outline: none;
}

.generatePasswordButton:hover {
  background-color: rgb(102, 60, 255);
  color: #fff;
}
